---
layout: default
---
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <h1 class="mb-4">{{ page.title }}</h1>
      <hr>
      <ul class="list-unstyled">
        {% for post in site.posts %}
          <li class="mb-3">
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            <small class="text-muted ms-2">{{ post.date | date: "%d %B %Y" }}</small>
            {% for cat in post.categories %}
              <span class="badge bg-secondary">{{ cat }}</span>
            {% endfor %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
